.background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s, z-index 0.5s;
  &.open {
    transition: z-index 0s;
    z-index: 1;
    opacity: 1;
  }
  .modalContainer {
    margin: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    background: var(--dark);
    border: 2px solid var(--cyan);
    .modalLogin,
    .modalPerfil {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      h2 {
        font-size: 1.3rem;
        text-align: center;
        strong {
          color: var(--cyan);
        }
      }
      button {
        color: white;
        background: linear-gradient(90deg, var(--purple), var(--cyan));
        border: none;
        height: 3rem;
        width: 10rem;
        border-radius: 1rem;

        &:hover {
          filter: brightness(0.8);
        }
        &.loading {
          svg {
            animation: loadingAnimation 0.5s infinite;
          }
        }
      }
    }
    .modalPerfil {
      position: relative;
      h2 {
        text-transform: capitalize;
      }
      .img {
        margin: 2rem;
        font-size: 10rem;
      }
      .asideButtons {
        position: absolute;
        left: -4.3rem;
        top: 3rem;
        z-index: 2;

        flex-direction: column;
        align-items: flex-end;
        display: flex;
        div {
          font-size: 2rem;

          cursor: pointer;
          background: var(--dark);
          border-radius: 4rem;
          border: 2px solid var(--cyan);

          display: flex;
          justify-content: center;
          align-items: center;

          width: 4rem;
          height: 4rem;

          span {
            width: 0;
            max-width: 25rem;
            overflow: hidden;
            overflow: hidden;
            color: transparent;

            height: 1rem;
            background: linear-gradient(90deg, var(--purple), var(--cyan));
            padding: 0.5rem 2rem 0 0rem;
            line-height: 1.5rem;

            border-radius: 4rem;

            left: 1rem;
            z-index: -1;
            position: absolute;
            font-size: 1rem;

            transition: padding-left 0.5s, height 0.5s;
          }

          &:hover {
            font-size: 2.2rem;

            span {
              height: 4rem;
              color: var(--white);
              padding-left: 5rem;
              width: auto;
            }
          }

          &:last-child {
            margin-top: 1rem;
            font-size: 1rem;
            text-align: center;

            min-width: 5rem;
            height: 5rem;

            &:hover {
              font-size: 1.2rem;
            }
          }
        }
      }
      button {
        background: linear-gradient(90deg, var(--purple), var(--red));
      }
    }
  }
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
