:root {
  --white: #fff;
  --grey-100: #e1e1e6;
  --grey-300: #a8a8b3;
  --grey-700: #323238;
  --grey-800: #29292e;
  --dark: #121111;
  --cyan: #61dafb;
  --purple: #6c3483;
  --red: #e74c3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  color: var(--white);
  background: var(--dark);
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
select,
button {
  font: 500 1rem "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
a {
  //o inherit faz com que ele assuma as cores do elemento pai
  color: inherit;
  text-decoration: none;
}
.Container {
  max-width: 1080px;
  margin: 2rem auto;

  h2 {
    background: linear-gradient(90deg, var(--purple), var(--cyan));
    text-align: center;
    padding: 1.5rem 0;
  }
}
.PostsContainer {
  padding: 0 2rem;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(200px, 450px));
  justify-content: center;

  .containerButtonShowMore {
    grid-column: 1/4;

    margin-top: -25rem;
    height: 25rem;

    position: relative;
    background: linear-gradient(transparent, var(--dark) 60%);

    display: flex;
    align-items: flex-end;
    justify-content: center;

    button {
      border: 1px solid black;
      width: 15rem;
      height: 4rem;
      color: black;
      background: var(--dark);

      transition: all 0.2s;

      &:hover {
        color: var(--white);
        border: 1px solid var(--white);

        transform: scale(1.03);
      }
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(200px, 450px));

    .containerButtonShowMore {
      grid-column: 1/3;
    }
  }
  @media (max-width: 600px) {
    padding: 0;
    grid-template-columns: 100%;
    gap: 5rem;

    .containerButtonShowMore {
      grid-column: 1/2;
    }
  }
}
